body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url("assets/background.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

#game-title {
  color: orange;
  font-size: 2em;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Creepster', cursive;
  z-index: 10;
}

#start-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player-name {
  padding: 10px;
  font-size: 1em;
}

#start-button, #restart-button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: transparent;
}

#leaderboard {
  position: absolute;
  top: 60px;
  right: 20px;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
}


